.navbar a
{
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

body 
{
    font-family: 'Merienda', cursive;
    background-color: antiquewhite;
}

.card-body
{
   background-image: url(/static/images/bgtest3.png);
   background-repeat: no-repeat;  
   background-position: 0% 0%;
   background-size: 100% 100%; 
}

